In [1]:
import pandas as pd

In [2]:
two_cases = pd.read_csv('/Users/swastik/ophthalmology/Project_Quality_Assurance/Final_QA_FDA/QA_application/Processed_Input_files/2_cases.csv').iloc[:,1:]
two_cases

                                   image  labels
0                     207521_1350712.JPG       0
1                     207521_1350713.JPG       0
2                     207521_1350715.JPG       0
3                     207521_1350716.JPG       0
4                     207521_1350717.JPG       0
...                                  ...     ...
539185   691008_8567632_Left Field 1.JPG       0
539186  691008_8567633_Right Field 2.JPG       0
539187   691008_8567634_Left Field 2.JPG       0
539188  691008_8567635_Right Field 3.JPG       0
539189   691008_8567636_Left Field 3.JPG       0

[539190 rows x 2 columns]

In [3]:
two_cases = two_cases.sample(frac=1, random_state=42)

In [4]:
two_cases

                                     image  labels
462332     806597_9478940_Left Field 3.JPG       0
127227  1323368_13520882_Right Field 1.JPG       0
182816   1270743_13137857_Left Field 1.JPG       0
175071  1264191_13087326_Right Field 3.JPG       0
112267  1316134_13467713_Right Field 3.JPG       0
...                                    ...     ...
110268  1314554_13455839_Right Field 3.JPG       1
259178  1132380_12071324_Right Field 1.JPG       0
365838  1120879_11978828_Right Field 3.JPG       0
131932  1325187_13535058_Right Field 3.JPG       0
121958   1321278_13505627_Left Field 3.JPG       0

[539190 rows x 2 columns]

In [7]:
sfact = int((0.05*len(two_cases))/2)
df_temp_1 = two_cases[two_cases['labels'] == 0][:sfact]
df_temp_2 = two_cases[two_cases['labels'] == 1][:sfact]
df_temp_3 = two_cases[two_cases['labels'] == 2][:sfact]
df_temp_4 = two_cases[two_cases['labels'] == 3][:sfact]

In [10]:
test_df = pd.concat([df_temp_1, df_temp_2, df_temp_3, df_temp_4])

In [13]:
test_y = test_df['labels']

In [14]:
df_train_val = two_cases[~two_cases['image'].isin(test_df['image'])]

In [15]:
df_train_val

                                     image  labels
308763   1057328_11472605_Left Field 3.JPG       0
36805   1334116_13599891_Right Field 1.JPG       0
400093    926652_10417862_Left Field 3.JPG       0
299160   1175273_12410031_Left Field 3.JPG       0
172676  1261963_13070059_Right Field 2.JPG       0
...                                    ...     ...
110268  1314554_13455839_Right Field 3.JPG       1
259178  1132380_12071324_Right Field 1.JPG       0
365838  1120879_11978828_Right Field 3.JPG       0
131932  1325187_13535058_Right Field 3.JPG       0
121958   1321278_13505627_Left Field 3.JPG       0

[512232 rows x 2 columns]

In [16]:
test_df

                                     image  labels
462332     806597_9478940_Left Field 3.JPG       0
127227  1323368_13520882_Right Field 1.JPG       0
182816   1270743_13137857_Left Field 1.JPG       0
175071  1264191_13087326_Right Field 3.JPG       0
112267  1316134_13467713_Right Field 3.JPG       0
...                                    ...     ...
413681   971517_10777032_Right Field 3.JPG       1
27969   1330444_13571434_Right Field 3.JPG       1
509867    628174_8072338_Right Field 2.JPG       1
3873                    304499_2064877.JPG       1
204362  1192373_12544456_Right Field 1.JPG       1

[26958 rows x 2 columns]

In [ ]:
source_files = '/PATH/TO/FOLDER/
destination_folder = 'PATH/TO/FOLDER'

In [17]:
image_names =test_df['image'].to_list

In [ ]:
import os
for image in image_names:
    if(os.path.isfile(os.join(image,source_files))):
        shutil.move(os.join(source_files, image), destination_folder)

In [ ]:
import time
df_train_val.to_csv("/home/ubuntu/QA_code/QA_application/Train_Dev_Test_Split/df_val_{0}.csv".format(timestr))
test_df.to_csv("/home/ubuntu/QA_code/QA_application/Train_Dev_Test_Split/df_val_{0}.csv".format(timestr))